h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

html { scroll-behavior: smooth; }
